<p><a routerLink="/books">zur Liste</a></p>
<div class="ui divided items" *ngIf="!isLoading; else loading">
 <div class="item">
  <!--
  <img class="image"
         *ngIf="book.thumbnails"
         [src]="book.thumbnails[0].url" style="width:10%; height:10%">
 -->
         <img class="image" style="width:10%; height:10%" src="http://via.placeholder.com/400x500">
    <div class="content">
      <div class="header">{{ book.title }}</div>
      <div class="description"> {{ book.subtitle }} </div>
      <div class="metadata">
        <span *ngFor="let author of book.authors; last as l">
          {{ author }}<span *ngIf="!l">, </span>
        </span>
      </div>
      <div class="extra">ISBN: {{ book.isbn }}<br>
      Bewertung: {{ book.rating }}<br>
      erschienen: {{ book.published | date: 'mediumDate'}}</div>
    </div>
  </div>
</div>
<ng-template #loading>loading...</ng-template>








