<div class="ui divided items">
 <div class="item">
    <img class="image"
         *ngIf="book.thumbnails"
         [src]="book.thumbnails[0].url" style="width:10%; height:10%">
    <div class="content">
      <div class="header">{{ book.title }}</div>
      <div class="description"> {{ book.subtitle }} </div>
      <div class="metadata">
        <span *ngFor="let author of book.authors; last as l">
          {{ author }}<span *ngIf="!l">, </span>
        </span>
      </div>
      <div class="extra">ISBN: {{ book.isbn }}<br>
      Bewertung: {{ book.rating }}<br>
      erschienen: {{ book.published | date: 'mediumDate'}}</div>
    </div>
  </div>
</div>
<!--
<ul>
  <li>{{ book.isbn}}</li>
  <li>{{ book.title}}</li>
  <li>{{ book.authors}}</li>
  <li>{{ book.published | date: 'mediumDate'}}</li>
  <li>{{ book.subtitle}}</li>
  <li>{{ book.rating}}</li>
  <li>{{ book.thumbnails.length}}</li>
  <li>{{ book.description}}</li>
</ul>
-->








