<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Angular 5 Schnellstart powered by Rocco</title>

    <meta name="description" content="Wie funktioniert Angular 4?">
    <meta name="author" content="Rocco Hundertmark">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/solarized.css" id="theme">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <section>
                <h1>Angular 4</h1>
                <h3>Schnelleinstieg</h3>
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" width="200" style="border-style:none; box-shadow:none">
            </section>

            <section>
                <h3>Was ist Angular 4?</h3>
                <p>Angular 4 ist ein Open Source JS-Framework für die Erstellung von SPAs</p>
                <ul>
                    <li>Veröffentlicht im März 2017 (Angular 4) </li>
                    <li>Aktuelle Version 5 veröffentlicht am 23.10.2017</li>
                    <li>powered by Google</li>
                    <li>Wird sowohl in Web- als auch in plattformübergreifenden Desktop-Anwendungen verwendet.</li>
                </ul>
                <p>&nbsp;</p>
            </section>


            <section id="Vorbereitung">
                <section>
                    <h2>Wie geht es los?</h2>
                    <p>Zunächst ist einiges zu installieren, um mit Angular zu beginnen.</p>
                    <p>&nbsp;</p>
                </section>
                <section>
                    <div class="nodejs-logo"></div>
                    Node.js ist eine plattformunabhängige serverseitige Javascript Laufzeitumgebung basierend auf Chromes V8 Rendering engine. Herunterzuladen unter: <a href="https://nodejs.org/de/" target="_blank">https://nodejs.org/de/</a> Bei der Installation unbedingt npm (den Paketmanager) mit installieren
                </section>
                <section>
                    <h2>Angular CLI</h2>
                    <p>Mittels der Angular CLI kann man einfach ein Projekt erstellen und sehr viele Arbeitsschritte vereinfachen.</p><p>Installiert wird sie einfach mit dem gerade installierten Paketmanager.</p>
                    <pre><code class="hljs" data-trim contenteditable>
npm install -g @angular/cli</code></pre>

                </section>

                <section>
                    <h2>Typescript</h2>
                    <p>TS ist ein Superset von Javascript. Also Javascript + Typisierung + Klassen + Vererbung + Interfaces + Tooling... powered by Microsoft<br>Wenn nicht ohnehin schon installiert, kann man es mit npm installieren.</p>
                    <pre><code class="hljs" data-trim contenteditable>
npm install -g typescript</code></pre>
                    <br>
                </section>
            </section>

            <section id="Projekt_anlegen">
                <section>
                    <h2>Und wie geht es weiter?</h2>
                    <p>Dank Angular CLI ist es recht trivial ein neues Projekt zu erstellen.</p>
                    <pre><code class="hljs" data-trim contenteditable>
ng new &lt;projektname&gt;</code></pre>
                </section>

                <section>
                    <p>
                        Damit ist das Hello World der Angular 4 Welt auch schon fertig. <br>
                        Zur Kontrolle kann man schon einmal den Node.js Webserver starten um sich sein Hello World anzusehen. Dazu einfach in den Ordner wechseln und den Server starten mittels.
                    </p>

                    <pre><code class="hljs" data-trim contenteditable>
ng serve
</code></pre>
                </section>
                <section>
                    <p>Gleich zu Beginn  erscheint in der Bash:</p>
                    <pre><code class="hljs" data-trim contenteditable>
** NG Live Development Server is listening on localhost:4200, ... **
</code></pre>
                    <p>Et voilá: Hat alles  geklappt, sieht das Ergebnis an Port 4200 etwa wie folgt aus.</p>
                    <p><img src="images/hello_world.png" width="500"></p>
                </section>
            </section>
            <section id="Konfiguration">
                <section>
                    <h2>Was nun weiter?</h2>
                    <p>Jetzt kann man die entstandenen Konfigurationsdateien anpassen. Zum Beispiel den Host oder den Port in der .angular.cli.json</p>
                    <pre><code class="hljs" data-trim contenteditable>
 "defaults": {
	  "serve": {
      "port": 4444,
      "host": "127.0.0.1"
    }</code></pre>
                </section>
                <section>
                    <p>Oder man ändert in der tslint.json die Validierungregeln für den Linter. <br>Eigentlich werden Components in kebab-case geschrieben und beginnen mit app.</p>
                    <pre><code class="hljs" data-trim contenteditable>
 "component-selector": [
      true,
      "element",
      "app",
      "kebab-case"
    ]</code></pre>
                </section>
                <section>
                    <p>Oder man ändert in der tsconfig.json die Javascript-Ziel version, wenn man keinen IE 9 mehr unterstützen muss.</p>
                    <pre><code class="hljs" data-trim contenteditable>
"compileOnSave": false,
  "compilerOptions": {
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es5", // oder z.B. es6</code></pre>
                </section>
            </section>

            <section id="Typescript">
                <section>
                    <h2>JS vs. Typescript?</h2>
                    <p>
                        Typescript ist Javascript +
                        <ul>
                            <li>Type annotations</li>
                            <li>Arrow functions</li>
                            <li>Interfaces</li>
                            <li>Classes</li>
                            <li>Constructors</li>
                            <li>Access modifiers</li>
                            <li>Properties</li>
                            <li>Modules</li>
                        </ul>
                    </p>
                </section>
                <section>
                    <h3>Type annotations</h3>
                    <pre><code class="hljs" data-trim contenteditable>
// Javascript:
var a = 5;
a = true;
a = 'cool'
// alles super und knallt erst irgendwann irgendwo zur Runtime

// Typescript:
let a: number = 5; // number|boolean|string|any|number[] = [1, 2]...
// Der Typ wird auch ohne Annotation gesetzt, 
// wenn gleich eine Zuweisung erfolgt.
a = true // -> compiler error zur Design-Time

enum Color {Red = 0, Green = 1, Blue = 2};
let backgroundColor = Color.Red; // Intellisense löst das Enum auf.
</code></pre>
                </section>
                <section>
                    <h3>Arrow functions</h3>
                    <pre><code class="hljs" data-trim contenteditable>
// Javascript:
var writeLogJS = function(param){
console.log(param);
}
writeLogJS('text');

//Typescript:
let writeLogTS = (param) => console.log(param); 

writeLogTS('text');
</code></pre>
                </section>
                <section>
                    <h3h2>
                        Interfaces</h3>
                        <pre><code class="hljs" data-trim contenteditable>
interface ICircle {
x: number;
y: number;
r: number;
}
let drawCircle(circle: ICircle){
// ...
}

drawCircle({ 
 x: 5,
 y: 5,
 r: 3
})
</code></pre>
                </section>
                <section>
                    <h3>Classes</h3>
                    <pre><code class="hljs" data-trim contenteditable>
class Circle {
x: number;
y: number;
r: number;
draw(){
  console.log('X: ' + this.x + ', Y: ' + this.y)
 }
}

let circle = new Circle();
circle.x = 5;
circle.y = 5;
circle.r = 3;
circle.draw();

</code></pre>
                </section>
                <section>
                    <h3>Constructors</h3>
                    <pre><code class="hljs" data-trim contenteditable>
class Circle {
x: number;
y: number;
r: number;

constructor(x: number, y: number, r: number) {
this.x = x;
this.y = y;
this.r = r;
 }
}

let circle = new Circle(5, 5, 3);
</code></pre>
                </section>
                <section>
                    <h3>Access modifiers</h3>
                    <pre><code class="hljs" data-trim contenteditable>
class Circle {
 constructor(private x: number, public y: number, protected r: number) {
 // private -> nur in der Klasse sichtbar
 // protected -> nur in der Klasse und davon abgeleiteten Klassen sichtbar
 // public (default) -> überall sichtbar
 }
 public draw(){
  // ...
 }
}
								
let circle = new Circle(5, 5, 3);
// circle.x -> Compiler error
// circle.y -> alles gut
// circle.draw() -> alles gut
	</code></pre>
                </section>
                <section>
                    <h3>Properties</h3>
                    <pre><code class="hljs" data-trim contenteditable>
class Circle {
 constructor(private _x: number, private _y: number, private _r: number) {
 }
 get x(){ return this._x; }

 set x(value: number){
  if(value < 0) 
      throw new Exception('so nicht, Freunde der Sonne');

  this._x = value;
 }
let circle = new Circle(5, 5, 3);
// circle.x = 7 -> alles gut
// circle.x = -5 -> Exception: so nicht, Freunde der Sonne
 
 </code></pre>
                </section>
                <section>
                    <h3>Modules</h3>
                    <pre><code class="hljs" data-trim contenteditable>
// main.ts

import { Circle } from './circle' // ohne .ts

let circle = new Circle();
               
// circle.ts (im selben Ordner)

export class Circle { // Schlüsselwort export
  // ...
}
 </code></pre>
                </section>
            </section>
            <section id="grundlagen">
                <h2>Angular Grundlagen</h2>
                <p>
                    Angular besteht hauptsächlich aus
                    <ul>
                        <li>Components</li>
                        <li>Templates</li>
                        <li>Directives</li>
                        <li>Services</li>
                    </ul>
                </p>
            </section>
            <section id="components">
                <section>
                    <h2>Components...</h2>
                    <p>... beinhalten das Markup, die Logik und die Daten für einen Webpart.</p>
                    <p>... müssen in einem Module registriert werden.</p>
                    <p>... erkennt man am @Component() - Decorator.</p>
                    <p>... stehen im Template anderer Komponenten.</p>
                    <p>... lassen sich mit der Angular CLI erstellen.</p>
                    <pre><code class="hljs" data-trim contenteditable>
ng g c './my-compoment [ -is (inline styles) -it (inline template)]
	                </code></pre>
                </section>
                <section>
                    <p>Beispiel einer Component:</p>
                    <pre><code class="hljs" data-trim contenteditable>
@Component({ // Decorator mit Meta-Daten
 selector: 'my-component', // -> <my-component></my-component>
 // ODER:
 selector: '.my-component', // -> <div class="my-component"></div>
 // ODER:
 selector: '#my-component', // -> <div id="my-component"></div>

 template: '<h1>Hallo {{Person?.Name}}</h1>', // einzeilig mit 'Elvis' Operator
// ODER:
 template: `<h1>
           Hallo {{Person?.Name}}
          </h1>`, // mehrzeilig
// ODER:
 templateUrl: './my-component.html'

 styles:[ 'h1 {font-size:1.5em}', 'h2 {font-size:1.2em}' ],
// ODER:
 styleUrls:['./styles.css', './custom.css'],
})
export class MyComponent {}
	</code></pre>
                </section>
            </section>
            <section id="Bindings">
                <section>
                    <h2>Bindings</h2>
                    <p>
                        Bei Bindings unterscheidet man:
                        <ul>
                            <li>Property Binding</li>
                            <li>Event Binding</li>
                            <li>Two-Way Binding</li>
                        </ul>
                    </p>
                </section>
                <section>
                    <h2>[Property Bindings]:</h2>
                    <p>Property Bindings werden in [] gesetzt und verweisen auf eine Property der Component oder ein Literal.</p>
                    <p>Die Daten fließen aus der Komponente in die View und die Aktualisierung erfolgt automatisch.</p>
                    <pre><code class="hljs" data-trim contenteditable>
<a [href]="GoToLink">Link</a> // GoToLink ist eine Property der Component
<a [href]="'http://www.ronami.de'">Link</a> // Literal
	</code></pre>
                </section>
                <section>
                    <h2>(Event Bindings):</h2>
                    <p>Event Bindings werden in () gesetzt und verweisen auf eine Methode in der Component.</p>
                    <p>Das Event fließt in die Component und ruft dort eine Methode auf.</p>
                    <p>Die Events sind nicht auf die nativen Events eines DOM-Elements beschränkt, sondern können in der Component definiert werden.</p>
                    <pre><code class="hljs" data-trim contenteditable>
<button (click)="OnButtonClick()"> Klick mich </button> 
 // OnButtonClick ist eine Methode der Component
	</code></pre>
                </section>
                <section>
                    <h2>[(Two-Way Bindings)]:</h2>
                    <p>Neben 'lesenden' und 'schreibenden' unidirektionalen Bindings gibt es noch die bidirektionalen Bindings.</p>
                    <p>Kleine Eselsbrücke: 'Das Runde muss ins Eckige'.</p>
                    <p>Ist das Binding so deklariert, können die Werte aus der Component heraus als auch aufseiten der UI geändert werden.</p>
                    <pre><code class="hljs" data-trim contenteditable>
<input type="text" [(ngModel)]="FirstName">







 // FirstName ist eine Property der Component
	</code></pre>
                </section>
            </section>


            <section>
                <h2>Templates</h2>
                <p> Die Templates werden in HTML geschrieben und angereicht mit Directives und Interpolations.</p>
            </section>

            <section>
                <section>
                    <h3>Directives</h3>
                    <p>
                        Es gibt 2 verschiedene Arten von Direktiven
                        <ul>
                            <li>Strukturdirektiven (verändern das DOM der Website und beginnen mit einem *)</li>
                            <li>Attributdirektiven (verändern das Verhalten eines DOM-Elements)</li>
                        </ul>
                    </p>
                    <pre><code class="hljs" data-trim contenteditable>
ng g directive redColored
			</code></pre>
                </section>
                <section>
                    <h3>Strukturdirektive in der Anwendung</h3>
                    <pre><code class="hljs" data-trim contenteditable>
<div *ngIf="condition">...</div>
                    <li *ngFor="let item of items">  {{item}} </li>
<div [ngSwitch]="switch">					
                    <span *ngSwitchCase="match"> trifft zu  </span>
                    <span *ngSwitchDefault="match"> eher nicht</span>
</div>	
			</code></pre>
                </section>
                <section>
                    <h3>Aufbau einer Attributdirektive</h3>
                    <pre><code class="hljs" data-trim contenteditable>
import { Directive, ElementRef, HostListener } from '@angular/core';

@Directive({
  selector: '[redColored]' 
})
export class HighlightDirective {

  constructor(private el: ElementRef) {
    this.el.nativeElement.style.backgroundColor = 'red';
  }
  @HostListener('click') doSomething() {
     alert ('click');
   }
}

// Einsatz:
&lt;h1 redColored&gt; rote Headline &lt;/h1&gt;
			</code></pre>
                </section>
            </section>
            <section>
                <section>
                    <h3>Services</h3>
                    <p>
                        Components kümmern sich nur um die Anzeigelogik, während Services dafür zuständig sind, die Daten zu liefern oder zu verarbeiten
                    </p>
                    <pre><code class="hljs" data-trim contenteditable>
ng g service books 
			</code></pre>
                </section>
                <section>
                   <h3>Aufbau eines Services</h3>
                    <pre><code class="hljs" data-trim contenteditable>
import { Book } from './shared/book';
import { Thumbnail } from './shared/thumbnail';

export class BooksService {

  getBooks(){
    return [
      new Book(
        '9783864903571',
        'Angular',
        ['Johannes Hoppe', 'Danny Koppenhagen', 'Ferdinand Malcher', 'Gregor Woiwode'],
        new Date(2017, 3, 1),
        'Grundlagen, fortgeschrittene Techniken und Best Practices mit TypeScript',
        5,
        [new Thumbnail('https://ng-buch.de/cover2.jpg', 'Buchcover')],
        'Mit Angular setzen Sie auf ein modernes und modulares...'
      )
    ]; 
  }
  constructor() { }
}

			</code></pre>
                </section>
                
                                <section>
                   <h3>Einbau eines Services</h3>
                   <p> Der Service ist eine Klasse ohne besonderen Decorator. Damit er einbaubar ist, muss er als Provider dem Modul bekannt gemacht und per Contructor-Injection der Component mitgegeben werden.
                   </p>
                    <pre><code class="hljs" data-trim contenteditable>
// app.module.ts
...
  providers: [BooksService],
  bootstrap: [AppComponent]
})
..
// book-list.component.ts

  constructor(bookService: BooksService){
     this.books = bookService.getBooks();
  } 
			</code></pre>
                </section>
                
                
                
                <section data-background="http://i.giphy.com/90F8aUepslB84.gif">
                    <h2>... probieren wir die DEMO!</h2>
                    <a href="https://github.com/book-monkey2-build">GitHub</a> <br>
                    <a href="https://github.com/angular-buch/book-monkey2.git">GitHub</a>
                    
                </section>
            </section>

            

         

        </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

        // More info https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,

            transition: 'slide', // none/fade/slide/convex/concave/zoom

            // More info https://github.com/hakimel/reveal.js#dependencies
            dependencies: [
                { src: 'lib/js/classList.js', condition: function () { return !document.body.classList; } },
                { src: 'plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: 'plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
                { src: 'plugin/zoom-js/zoom.js', async: true },
                { src: 'plugin/notes/notes.js', async: true }
            ]
        });

    </script>

</body>
</html>
